body {
    background-color: #e6ffe6;
    color: #344e41;
    font-family: Arial, sans-serif;
}

#logo {
    width: 100px;
    height: 80px;
}
.logo-container {
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}

h1 {
    color: #2d6a4f;
}

form label {
    font-weight: bold;
}

#dogCarousel {
    max-height: 400px;
    overflow: hidden;
}

#dogCarousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card {
    margin-bottom: 20px;
}

.btn-success {
    background-color: #2d6a4f;
    border-color: #2d6a4f;
}

.btn-light {
    background-color: #a8dadc;
    border: none;
}

.interview-container {
    margin: 20px;
    padding: 20px;
    background-color: #d8e2dc;
    border-radius: 5px;
}